<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Edit User</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
        <h1>Edit User {{user.id}}</h1>
        <form action="/users/update/{{user.id}}/" method="POST">
            {%csrf_token %}
            <p>First Name<input type="text" name="first_name" value="{{user.first_name}}"></p>
            <p>Last Name<input type="text" name="last_name" value="{{user.last_name}}"></p>
            <p>email<input type="text" name="email" value="{{user.email}}"></p>
            <input type="submit" value="Update">
        </form>
        <p><a href="http://localhost:8000/users/show/{{user.id}}">Show</a></p>
        <p><a href="http://localhost:8000/users/">Go Back</a></p>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </body>
</html>